@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Token{
    <script>
        //identity ok, como coger email y password en vez de poner a mano?
        ajaxLogin('https://localhost:5001/api/Token', 'POST', 'InventoryAdmin@abc.com', '$admin@2017');
    </script>
}
